*.iso
linux-6.6.68
*.qcow2
*.img
*.raw
*.vmdk
*.vdi
*.vhd
*.dsk
*.dmg
*.sparseimage
*.sparsebundle
*.toast
*.vcd
*.iso   
*.bin
*.dmg
*.vcd
*.cue
*.bmp
*.gif
*.jpg
*.jpeg
*.psd
*.ai
*.drw
*.dxf
*.eps
*.ps
*.svg
*.avi
*.flv
*.m4v
*.mkv
*.mov
*.mp4
*.mpeg
qemu-9.2.0
qemu-9.2.0.tar.xz
qemu-system-x86_8.2.2+ds-0ubuntu1_amd64.deb
