*.iso
*.qcow2
*.img
*.raw
*.vmdk
*.vdi
*.vhd
*.dsk
*.dmg
*.sparseimage
*.sparsebundle
*.toast
*.vcd
*.iso   
*.bin
*.dmg
*.vcd
*.cue
*.bmp
*.gif
*.jpg
*.jpeg
*.png
*.psd
*.ai
*.drw
*.dxf
*.eps
*.ps
*.svg
*.avi
*.flv
*.m4v
*.mkv
*.mov
*.mp4
*.mpeg